.card {
    
}

.card img {
    object-fit: cover;
    width: 250px;
    height: 250px;
} 

.card .lower {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--middle);
}