:root{
    --navi: #ffffff;
    --main: #003459;
    --button: #00a8e8;
    --background: #e7ecef;
  }
  
  /* :root{
    --navi: #023047;
    --main: #8ecae6;
    --button: #ffb703;
    --middle: #219ebc;
    --strong: #fb8500;
  }
   */