.homeContainer {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer nav {
  display: hidden;
}

#section1 {
  background-image: url("https://enigmatic-temple-40493.herokuapp.com/home/home-background.jpg");
  background-size: cover;
  height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 800;
  color: white;
}

.top {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroText {
  font-size: 3rem;
}

.callToAction {
  padding: 26px 24px;
  width: 20rem;
  font-size: 1.5rem;
}

#section2 {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
}


#section3 {
  background-color: var(--main);
  width: 100%;
  min-height: 40rem;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 14px;
  padding: 1rem;
  color: white;
}

.materials {
  display: flex;
}
.customerCard {
  height: 400px;
  width: 60%;
  display: flex;
  gap: 20px;
  padding: 2rem;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2rem;
}

.customerCard img {
  max-width: 200px;
  max-height: 300px;
  height: auto;
  width: auto;
  transition: transform 1000ms;
}

.customerCard img:hover {
  transform: scale(1.1);
}

.customerVoice {
  font-style: italic;
}

.sec3Card {
  width: 350px;
  margin-bottom: 20px;
  
}

.sec3Card img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 14px;
}

/*Large*/
@media (min-width: 961px) {
  #section1,#section2,#section3  {
    font-size: 14px;
  }
  .customerCard img {
    max-width: 300px;
    max-height: 450px;
  }
}

/*Medium*/
@media (max-width: 960px) {
  .materials {
    flex-wrap: wrap;
    justify-content: center;
  }
  .customerCard {
    width: 100%;
  }
  .sec3Card img {
    width: 250px;
    height: 250px;
  }
  .customerCard img {
    max-width: 250px;
    max-height: 400px;
  }
}
/*Small*/
@media (max-width: 510px) {
  #section1 {
    height: 50rem;
  }
  #section3 {
    flex-direction: column;
  }
  .sec3Card img {
    width: 200px;
    height: 200px;
  }

  .customerCard img {
    max-width: 150px;
    max-height: 300px;
  }
}

