.orderContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  max-width: 100%;
  flex: 1;
}

.orderTable:nth-child(2n) {
    background-color: var(--navi);
    color: var(--naviFont);
}

.orderContainer div {
    max-width: 100%;
}

.orderContainer table {
    max-width: 100%;
    border-collapse: collapse;
    background-color: var(--background);
    color: var(--backgroundFont);
    text-align: center;
    width: 35rem;
    border-radius: .75rem;
}

.orderContainer td {
    padding: 1rem;
}

.productRow {
    border-bottom: 1px solid black;
}

