
.orderContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 30px;
    padding: 30px;
    justify-content: center;
}

.order {
    border-bottom: 1px solid black;
}

.order ul{
    display: block;
    margin-left: 20px;
    list-style: circle !important;
}