.nav {
  position: relative;
  background-color: var(--navi);
  color: var(--naviFont);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 20%;
  max-width: 100%;
  box-shadow: 0 1px 6px 2px black;
  z-index: 1;
}

.link {
  color: inherit;
  position: relative;
}

.link:after {
  content: "";
  background-color: gold;
  height: 6px;
  position: absolute;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: .2s;
}

.link:hover:after {
  width: 100%;
}

.nav ul,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav li:hover,
a:hover {
  color: #777;
}

.site-title {
  font-size: 2rem;
  letter-spacing: -1px;
}

.theA {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-right: 0px;
  color: var(--button);
}

.hamburger {
  display: none;
  position: relative;
}



/*Small Screens*/
@media (max-width: 550px) {
  .desktop {
    display: none !important;
  }
  .hamburger {
    display: block;
  }
}
/* Medium Screens*/
@media (max-width: 785px) and (min-width: 552px) {
  .nav {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/*Medium and Large Screens*/
@media (min-width: 551px) {
  .dropdown {
    display: none;
  }
  .nav * {
    font-size: 24px;
  }
  .theA {
    font-size: 3rem;
  }
  .site-title {
    font-size: 3rem;
  }
}

/*Dropdown container*/
.dropdown {
  background-color: var(--navi);
  position: relative;
}

/*Dropdown menu*/
.dropdownMenu {
  position: absolute;
  right: 0;
  top: calc(100% + .25rem);
  background-color: var(--navi);
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 #000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms linear, transform 150ms linear;
  
}

.dropLink {
  font-size: 1.5rem;
}


.show {
  transform: translateY(0px);
  opacity: 1 !important;
}


a {
  color: var(--strong);
  text-decoration: none;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 30px;
}
