.nav {
  position: relative;
  background-color: var(--navi);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 20%;
  max-width: 100%;
  box-shadow: 0 1px 6px 2px black;
  z-index: 1;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav ul,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav li:hover,
a:hover {
  color: #777;
}

.site-title {
  font-size: 2rem;
  letter-spacing: -2px;
}

.theC {
  color: var(--strong);
  font-size: 2rem;
}

.theA {
  font-size: 2.5rem;
  letter-spacing: -15px;
  margin-right: 10px;
}

.hamburger {
  display: none;
  position: relative;
}

.responsive {
  display: flex;
  flex-direction: column;
}

.responsiveContainer li {
  font-size: 20px !important;
}

/*Small Screens*/
@media (max-width: 550px) {
  .desktop {
    display: none !important;
  }
  .hamburger {
    display: block;
  }
}
/* Medium Screens*/
@media (max-width: 785px) and (min-width: 552px) {
  .nav {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/*Medium and Large Screens*/
@media (min-width: 551px) {
  .responsiveContainer {
    display: none;
  }
  .nav * {
    font-size: 24px;
  }
  .theA {
    font-size: 3rem;
  }
  .site-title {
    font-size: 3rem;
  }
}


.show {
  visibility: visible !important;
  display: block;
  opacity: 1 !important;
  /* display: none !important; */
}

.responsiveContainer {
  background-color: var(--navi);
  position: absolute;
  width: 100%;
  box-shadow: 0 1px 6px 2px black;
  padding: 1rem;
  transition: all 0.3s linear;
  visibility: hidden;
  opacity: 0;
}

a {
  color: var(--strong);
  text-decoration: none;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 30px;
}
