@import './styles/colors.css';

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: monospace;
}

body {
  margin: 0;
}

button {
  background-color: var(--strong);
  border-radius: 20px;
  padding: 14px;
}
